<aside data-close-target="sidebar" class="bg-gray-700 w-42 text-gray-200 pl-6 font-bold capitalize">
  <ul>
    <li class="mt-6">
      <%= link_to "Dashboard", dashboard_index_path, class:"hover:text-gray-800"%>
    </li>
    <li class="mt-6">
      <%= link_to "Inventory", dashboard_index_path, class:"hover:text-gray-800"%>
    </li>
    <li class="mt-6">
      <%= link_to "Recipes", recipes_path, class:"hover:text-gray-800"%>
    </li>
    <li class="mt-6">
      <%= link_to "Foods", foods_path, class:"hover:text-gray-800"%>
    </li>
  </ul>
</aside>