<div class="px-8 min-h-screen py-4 bg-gray-200">
  <%= render "home/navbar"%>
  <main class="relative grid md:flex items-center justify-around">
    <section class="md:basis-1/2">
      <h2 class="font-bold text-4xl capitalize mb-4">
        Manage your food recipes with ease!
      </h2>
      <p class="mb-8 text-2xl">
        Recipe management app is a software tool that helps you handle your recipes, control inventory as well as shopping list.
      </p>
      <div class="bg-orange-500 p-2 rounded-md cursor-pointer flex justify-center items-center text-gray-200 hover:bg-orange-600 text-4xl">
        <%= link_to class:"cursor-pointer" do %>
          <span class="flex gap-6">Get Started<%=inline_svg_tag("forward.svg", class:"size-12")%></span>
        <%end%>
      </div>
    </section>
    <div class="md:basis-1/2">
      <%= image_tag("/images/hero.png", class:"mt-8") %>
    </div>

  </main>
</div>