<div class="px-8 min-h-screen py-4 bg-gray-200 w-[90%] my-5 md:my-0 rounded-md md:rounded-none md:w-full mx-auto border border-gray-500 md:border-none md:shadow-none shadow-lg">
  <%= render "home/navbar"%>
  <main class="relative grid md:flex items-center justify-around">
    <section class="md:basis-1/2">
      <h2 class="font-bold text-4xl capitalize mb-20">
        Manage your food recipes with ease!
      </h2>
      <p class="mb-8 text-2xl">
        Recipe management app is a software tool that helps you handle your recipes, control inventory as well as shopping list.
      </p>
      <div class="bg-gray-800 hover:bg-gray-700 p-2 rounded-md cursor-pointer flex justify-center items-center text-gray-200">
        <%= link_to foods_path, class:"cursor-pointer" do %>
          <span class="flex items-center justify-center gap-6 text-sm md:text-2xl">Get Started<%=inline_svg_tag("forward.svg", class:"size-8 md:size-12")%></span>
        <%end%>
      </div>
    </section>
    <div class="md:basis-1/2">
      <%= image_tag("/images/hero.png", class:"mt-8") %>
    </div>

  </main>
</div>